name: build nodejs application
on:
    workflow_dispatch:
    push: 
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
            - name: Clone the repo
              uses: actions/checkout@v6  # readymade github actions library available to clone the existing repo on the dynamic agent
            - name: Install nodejs
              uses: actions/setup-node@v6  # readymade github actions library to install nodejs on the dynamic agent
              with:
                  node-version: 18
                  cache: 'npm'  # installs the npm package manager on the dynamic agent
            - name: Install node dependencies
              run: npm ci
            - name: Execute test cases
              run: npm test
            - name: Build the nodejs code
              run: npm run build 
